

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <a [routerLink]="['/all']" >Home</a>
  
    <h4>Add a new author:</h4>
    <form (submit)="onSubmit()">
      <p> {{ author | json }} </p>
      <h3> Name: <input type="text" name="author.name" [(ngModel)]="author.name" placeholder="Author's Name"></h3>
      <button [routerLink]="['all']">Cancel</button> 
      <button type="submit">Submit</button>
    </form>
  
  
<router-outlet></router-outlet> 
  